$color-primary: #322153;
$color-secondary: #6C6C80;
$color-button: #34CB79;
$color-button-hover: #2fb86e;
$color-card: #E1FAEC;
$color-background-secondary: #0E0A14;
$color-background-primary: #F0F0F5;